dist/
node_modules/
storybook-static/
build-storybook.log
.DS_Store
.env
.cache
stories/atoms/StressTest.stories.js
yarn-error.log
.nyc_output
coverage
test-results.json
**/junit.xml
playwright-cache-location.txt


/**/.yarn/*
!/**/.yarn/releases
!/**/.yarn/plugins
!/**/.yarn/sdks
!/**/.yarn/versions
/**/.pnp.*
test-results