name: Tests-extended

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20.16.0, 22.x]
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        uses: bahmutov/npm-install@v1

      - name: Install Playwright Browsers
        run: npx playwright install --with-deps

      - name: Run test runner (story store v7)
        run: |
          yarn build
          yarn test-storybook:ci

      - name: Run test runner (stories json mode)
        run: |
          yarn build
          yarn test-storybook:ci-json
