on: [push, pull_request]

jobs:
    typecheck:
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v2

        - name: Use Node.js 18.x
          uses: actions/setup-node@v1
          with:
            node-version: '18.x'

        - name: Install dependencies
          uses: bahmutov/npm-install@v1

        - name: Type check
          run: yarn tsc

